<a href="https://colab.research.google.com/github/Mathumitha2561/ML-lab/blob/main/1818137_ML_EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Does the person can play Tennis.Determine using Naive bayes theorem

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [ ]:
PREAPARING THE DATA

In [ ]:
data = pd.read_csv('play_tennis.csv')
data.drop('day', axis='columns', inplace=True) # drop() drops the column day because it is not required
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
# A LabelEncoder converts a categorical data into a numbers from 0 to n-1
# Overcast=0,Rain=1,Sunny=2
# Cool=0,Hot=1,Mild=2
# High=0,Normal=1
# Strong=0,Weak=1

data[data.columns[:]] = data[data.columns[:]].apply(LabelEncoder().fit_transform)
data

    outlook  temp  humidity  wind  play
0         2     1         0     1     0
1         2     1         0     0     0
2         0     1         0     1     1
3         1     2         0     1     1
4         1     0         1     1     1
5         1     0         1     0     0
6         0     0         1     0     1
7         2     2         0     1     0
8         2     0         1     1     1
9         1     2         1     1     1
10        2     2         1     0     1
11        0     2         0     0     1
12        0     1         1     1     1
13        1     2         0     0     0

TRAIN THE DATA

In [ ]:
features = ["outlook", "temp", "humidity", "wind"]
target = "play"

In [ ]:
# train_test_split() is used for training and testing the dataset
features_train, features_test, target_train, target_test = train_test_split(data[features],data[target],test_size = 0.33,random_state = 54)

BUILD THE MODEL

In [ ]:
model = GaussianNB()
model.fit(features_train, target_train) #To achieve better accuracy, fit() adjusts the weight according to the data values

GaussianNB(priors=None, var_smoothing=1e-09)

ACCURACY

In [ ]:
pred = model.predict(features_test)
accuracy = accuracy_score(target_test, pred)
print("Accuracy :",accuracy)

Accuracy : 0.8

In [ ]:
cond = (model.predict([[2,0,0,0]]))  #(outlook = Sunny(2),temp = cool(0),humidity = High(0),wind = Strong(0)) 
print("Play: No-0  Yes-1\n")


if cond :
  print("play:",cond)
  print("The probability of playing tennis is higher")
else:
  print("play:",cond)
  print("The probability of not playing tennis is higher")

Play: No-0  Yes-1

play: [0]
The probability of not playing tennis is higher